{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}
          
        {% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    <body>
        {% include "header.html" %}
        <div class="container">
            {% block content %}
              
            {% endblock content %}
        </div>
        {% include "footer.html" %}
        {% block javascript %}
          
        {% endblock javascript %}
        <canvas id="c_n11" width="1402" height="937" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>
        <script src="{% static 'js/canvas-nest.min.js' %}"></script>
    </body>
</html>